* {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
}
.initial{
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
#enterName{
    height: 5vh;
    width: 50vw;
    border: 1.5px solid white;
    border-radius: 4vh;
    font-size: 1em;
}
#submit{
    width: 20vw;
    height: 5vh;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border: 1.5px solid white;
    border-radius: 2vh;
}

.maingreet{
    display: flex;
    justify-content: center;
    align-items: center;
}
.greet{
    margin-top: 6vw;
    text-align: center;
    width: 90vw;
}

.choices{
    margin-top: 6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.choco{
    width: 30vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 5vh;
    font-size:1em ;
    font-weight: 900;
    border: 2px solid white;
    border-radius: 10vw;
}

.flow{
    width: 30vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 5vh;
    font-size:1em ;
    font-weight: 900;
    border: 2px solid white;
    border-radius: 10vw;
}

.afterchoice{
    margin-top: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.mychoc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.myflow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.afterchoice img {
  max-width: 60%;
  max-height: 60%;
  border-radius: 40px;
}

.outingQ{
    margin-top: 5vw;
    text-align: center;
}

.wantbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.want{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
    height:5vh;
    width: 30vw;
    border: 2px solid white;
    border-radius: 3vh;
}

.outing{
    margin-top: 4vw;
}

.outingOpt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pub{
    width: 20vw;
}
.longdrive{
    width: 20vw;
}
.cafe{
    width: 20vw;
}
.outingOpt img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.hidden{
    display: none;
}