.display{
    display: flex;
    border: 2px solid purple;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.initial{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 60vw;
}

#enterName{
    height: 30px;
    width: 60vw;
    border-radius: 10px;
    font-size: larger;
}
#submit{
    margin-left: 10%;
    width: 20vw;
    font-size: 22px;
    color: red;
}

.greet{
    font-size: 22px;
    margin-top: 30px;
}

.choices{
    margin-top: 40px;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    align-items: center;
}

.choco{
    width: 30vw;
    font-size: 28px;
    border-radius: 10px;
}

.flow{
    width: 30vw;
    font-size: 28px;
    border-radius: 10px;
}

.afterchoice{
    border: 2px solid rgb(14, 137, 246);
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100vw;
}
.selectChoco{
    border: 2px solid green;
    font-size: 20px;
}
#chocImg{
    height: 200px;
    width: 200px;
}
#flowImg{
    height: 200px;
    width: 200px;
}
.selectFlow{
    border:  2px solid red;
    font-size: 20px;
}

.outing{
    margin-top: 30px;
    border: 2px solid brown;
    display: flex;
    flex-direction: column;
}
.outingQ{
    font-size: 28px;
}
.outingOpt{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hidden{
    display: none;
}